* {
    margin: 0;
    padding: 0;
    text-align: center
}
h1 {
    background-color:rgb(5, 5, 51);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice {
    height: 35vmin;
    width: 35vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: black;
}

img {
    height: 30vmin;
    width: 30vmin;
    object-fit: cover;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    margin-top: 5rem;
    width: min-content;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}
.msg-container {
    margin-top: 5rem;
}
#msg {
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
